---
import {Icon} from "astro-icon/components";
interface Props {
  price: string;
  title: string;
  body: string;
  hreb: string;
}

const { price, title, body } : Props = Astro.props;
---

<section class="sm:my-4 drop-shadow-lg bg-white rounded-lg px-4 py-4 mx-4 w-96 h-96  flex flex-col items-center">
  <p class= "text-2xl font-bold text-gray-700">{title}</p>
  <p class="my-4 text-gray-500">{body}</p>
  <ul class="w-full flex flex-col">
    <li class ="my-1 flex flex-row text-md">
      <Icon name="mingcute:check-2-fill" class="swap-on w-auto h-4 my-1 mr-3 text-green-500"/>
      <p>fast delivery</p>
    </li>
    <li class ="my-1 flex flex-row text-md">
      <Icon name="mingcute:check-2-fill" class="swap-on w-auto h-4 my-1 mr-3 text-green-500"/>
      <p>high quality service</p>
    </li>
    <li class ="my-1 flex flex-row text-md">
      <Icon name="mingcute:check-2-fill" class="swap-on w-auto h-4 my-1 mr-3 text-green-500"/>
      <p>small and compact application</p>
    </li>
  </ul>
  <button class="my-8 px-32 bg-orange-500 py-2 rounded-lg text-lg">Get Started</button>
</section>
