---

---
<section>
  <div class="flex flex-col -mt-8 px-4 w-full h-1/2 items-center">
    <p></p>
    <div>
      <ul class="steps">
        <li class="step step-error">
          <div class="flex flex-col items-center">
            <p class="mt-2 text-xl font-semibold">Choose an offer</p>
            <p class="my-4">go through our catalogue of offers and<br/>choose the one that is the most fit to your liking.</p>
          </div>
        </li>
        <li class="step step-error">
          <div class="flex flex-col items-center mx-16">
            <p class="mt-2 text-xl font-semibold">Confirm your order</p>
            <p class="my-4">To initiate your project, please provide a 20% deposit<br/>of the total project cost.This deposit secures your spot in our schedule<br/> and allows us to begin the planning and development phases. Once we receive your deposit, we will confirm your order and get started on bringing your vision to life.</p>
          </div>
        </li>
        <li class="step">
          <div class="flex flex-col items-center mx-16">
            <p class="mt-2 text-xl font-semibold">Development and Feedback Exchange</p>
            <p class="my-4">Our team will begin developing your website, turning your ideas into a fully functional product. Once the initial version is ready, we will share it with you for review. This is your opportunity to provide feedback and request any changes or adjustments to ensure the final product meets your expectations.</p>
          </div>
        </li>
        <li class="step">
          <div class="flex flex-col items-center mx-16">
            <p class="mt-2 text-xl font-semibold">Final Delivery</p>
            <p class="my-4">After incorporating your feedback and making any necessary adjustments, we will deliver the completed website to you. The final product will be fully functional and ready for launch, along with any documentation or support you may need to ensure a smooth transition.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
